/Makefile.am
/arg-nonnull.h
/c++defs.h
/errno.in.h
/stdalign.in.h
/sys_socket.c
/sys_socket.in.h
/sys_types.in.h
/sys_uio.in.h
/warn-on-use.h
/bind.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/w32sock.h
/signal.in.h
/sys_select.in.h
/sys_time.in.h
/send.c
/alloca.c
/alloca.in.h
/dup2.c
/fd-hook.c
/fd-hook.h
/select.c
/sockets.c
/sockets.h
/stddef.in.h
/unistd.c
/unistd.in.h
/socket.c
/setsockopt.c
/connect.c
/sendto.c
/getpeername.c
/recv.c
/recvfrom.c
/listen.c
/accept.c
/gethostname.c
/getsockname.c
/gettimeofday.c
/close.c
/fcntl.c
/fcntl.in.h
/getdtablesize.c
/ioctl.c
/nonblocking.c
/nonblocking.h
/stdbool.in.h
/stdio-read.c
/stdio-write.c
/stdio.in.h
/sys_ioctl.in.h
/cloexec.c
/cloexec.h
/filename.h
/fstat.c
/intprops.h
/limits.in.h
/malloca.c
/malloca.h
/open.c
/pathmax.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdint.in.h
/sys_stat.in.h
/time.in.h
/verify.h
/xalloc-oversized.h
